/* Reset stylów przeglądarki */

@import url(reset.css);

/* Czcionki i ułożenie elementów na stronie */

@font-face {
    font-family: "Chunk Five";
    src: url("../fonts/Chunkfive.otf");
}

@font-face {
    font-family: "Lato - Black";
    src: url("../fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato - Heavy";
    src: url("../fonts/Lato-Heavy.ttf");
}

@font-face {
    font-family: "Lato - Medium Italic";
    src: url("../fonts/Lato-MediumItalic.ttf");
}

@font-face {
    font-family: "Lato - Semibold";
    src: url("../fonts/Lato-Semibold.ttf");
}

* {
    box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
    color : #777777;
}

body {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

/* Style ogólne */

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
}

.bold-font {
    font-weight: 700;
}

/* Nagłówek */

.page-header {
    min-height: 168px;
    background-color: #9bddd8;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
}

.container .logo {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.81px;
    color: #ffffff;
}

.logo span {
    font-weight: 400;
    color: #ffffff;
}

/* Menu */

.menu-items {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-items li {
    margin: 0 5px;
    display: inline-block;
}

.menu-items li a {
    padding: 20px 15px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 500;
    color: #ffffff;
}

.menu-items .active {
    border: 3px solid #ffffff;
    border-radius: 20px;
}

.user-account {
    background-image: url("../images/user-logo.png");
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
}

/* Główna zawartość witryny */

/* Intro Section */

.intro-section {
    background-image: url("../images/image-background.png");
    background-color: #9bddd8;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 600px;
    
}

.intro-section .container {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-top: 48px;
}

.section-header h2 {
    color: #ffffff;
    font-family: "Chunk Five";
    font-size: 80px;
    line-height: 1.3em;
    text-transform: uppercase;
}

.section-header h2 span {
    color: #01a2a6;
}

.section-header p {
    text-align: center;
    color: #ffffff;
}

.intro-section .intro-cta {
    margin-top: 47px;
}

.btn-primary {
    padding: 30px 38px;
    background-color: #ffffa6;
    color: #10273d;
    font-family: "Lato - Black";
}

.intro-stripe {
    position: relative;
    top: 252px;
    background-color: #ffffff;
    opacity: 0.9;
    width: 100%;
    min-height: 75px;
}

/* information section */

.info-section {
    min-height: 448px;
}

.info-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1109px;
}

.info-section img {
    margin: 108px auto;
}
.info-section .page-info {
    max-width: 562px;
    margin: 31px auto 31px 95px;
}

.page-info h2 {
    color: #29d9c2;
    font-family: "Chunk Five";
    font-size: 60px;
    line-height: 1.3em;
}

.page-info h2 span {
    color: #01a2a6;
}

.page-info p {
    color: #777777;
    font-size: 16px;
    margin-top: 57px;
}

/* Gallery Section */

.gallery-section {
    min-height: 1455px;
    background-color: #f2fefe;
}

.gallery-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* Gallery Information */

.container .info-content {
    display: flex;
    justify-content: space-between;
    min-height: 174px;
    width: 963px;
    margin: 68px auto;
}

.info-content .page-info {
    width: 70%;
}

.btn-information {
    margin-top: 2%;
}

.btn-information a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-information p {
    font-family: Lato;
    color: #aeaeae;
    font-weight: 500;
    margin-left: 8px;
}

/* Search Gallery */

.container .search-content {
    display: flex;
    justify-content: space-between;
    min-height: 35px;
    width: 963px;
    margin: 20px auto;
}

.search-content .btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 234px;
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    background-color: #ffffff;
}

.search-content .btn-search img {
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.search-content .btn-search .search {
    color: #b5b5b5;
    font-family: "Lato - Medium Italic";
    font-size: 14px;
    letter-spacing: 0.08px;
    width: 80%;
    border: 0;
    padding-left: 11px;
}

.search-content .btn-place {
    display: flex;
    justify-content: space-between;
}

.btn-place .btn-gallery {
    color: #aeaeae;
    font-size: 16px;
    line-height: 35px;
    text-transform: uppercase;
    margin: auto 10px;
}

.btn-place .active, 
.btn-place p {
    color: #777777;
    font-family: "Lato - Black";
}

/* Gallery */

/* Main picture */

.container .major-gallery {
    background-image: url("../images/parachute.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1170px;
    margin-bottom: 33px;
}

.major-gallery .main-graphic {
    min-height: 517px;
    display: flex;
    flex-wrap: wrap;
}

.btn-shadow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
}

.btn-shadow a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 187px; 
    margin-right: 15px;
    margin-bottom: 5px;
}

.btn-shadow p {
    color: #f6f6f6;
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 2px;
    margin-right: 10px;
}

.major-gallery .major-gallery-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../images/layout-gallery.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40%;       
}

.major-gallery .major-gallery-info .page-info {
    margin: 50px 60px 75px 45px;
}

.major-gallery-info .page-info h3 {
    color: #01a2a6;
    font-size: 30px;
    font-weight: 300;
    margin-top: 32px;
}

.major-gallery-info .page-info p {
    margin-top: 23px;
    font-weight: 700;
}

/* Additional Pictures */

.minor-gallery {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 361px;
    margin-bottom: 77px;
}

.minor-gallery .main-graphic {
    display: flex;
    background-image: url("../images/mountains-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 58%;
}

.minor-gallery .minor-gallery-info {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/layout-gallery-small.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60%;
}

.minor-gallery .minor-gallery-info .page-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 44px 38px 40px 29px;
}

.minor-gallery-info .page-info h3 {
    margin-top: 23px;
    color: #01a2a6;
    font-size: 30px;
    font-weight: 300;
}

.minor-gallery-info .page-info p {
    margin-top: 23px;
}

.minor-gallery .minor-gallery-additional {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/canoe-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40%
}

.minor-gallery-additional .btn-shadow {
    margin-top: 78px;
    width: 100%;
}

/* Pagitation */

.pagination {
    margin-bottom: 85px;
}

.pagination a {
    color: #acacac;
    font-family: "Chunk Five";
    font-size: 18px;
    font-weight: 400;
    line-height: 51.82px;
    padding: 0px 8px;
}

.pagination a.active {
    color: #01a2a6;
    font-size: 24px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Stopka */

/* Media Queries*/
