@font-face {
    font-family: "Chunk Five";
    src: url("../fonts/Chunkfive.otf");
}

@font-face {
    font-family: "Lato - Black";
    src: url("../fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato - Heavy";
    src: url("../fonts/Lato-Heavy.ttf");
}

@font-face {
    font-family: "Lato - Medium Italic";
    src: url("../fonts/Lato-MediumItalic.ttf");
}

@font-face {
    font-family: "Lato - Semibold";
    src: url("../fonts/Lato-Semibold.ttf");
}