/* Settings */

@import "settings";

* {
    box-sizing: border-box;
    /* css3 rec */
    -moz-box-sizing: border-box;
    /* ff2 */
    -ms-box-sizing: border-box;
    /* ie8 */
    -webkit-box-sizing: border-box;
    /* safari3 */
    -khtml-box-sizing: border-box;
    /* konqueror */
    color: #777777;
}

body {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

/* General styles */

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.menu-items {
    display: flex;
    align-items: center;
}

h2 {
    color: #29d9c2;
    font-family: "Chunk Five";
    font-size: 60px;
    line-height: 1.3em;
    span {
        color: #01a2a6;
    }
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}

.bold-font {
    font-weight: 700;
}

.scrollup {
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("../images/up.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
    z-index: 3;
}

/* Header */

.page-header {
    position: relative;
    min-height: 10rem;
    background-color: #9bddd8;
    &::before {
        content: "";
        position: absolute;
        top: -90px;
        left: 0;
        width: 100%;
        height: 85px;
        box-shadow: 0 85px 60px rgba(0, 0, 0, 0.12);
        opacity: 0.6;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 2rem 0 2rem;
    }
}

/* Header - company logo */

.company-name {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.81px;
    color: #ffffff;
    span {
        font-weight: 400;
        color: #ffffff;
    }
}

/* Header menu */

.page-header .menu-items {
    li {
        margin: 0 5px;
        display: inline-block;
        a {
            padding: 20px 15px;
            display: inline-block;
            font-size: 14px;
            line-height: 1.2em;
            font-weight: 500;
            color: #ffffff;
        }
    }
    .active {
        border: 3px solid #ffffff;
        border-radius: 20px;
    }
    li {
        a:hover {
            color: #01a2a6;
        }
        .active:hover {
            color: #ffffff;
        }
    }
    .user-account {
        background-image: url("../images/user-logo.png");
        background-repeat: no-repeat;
        width: 44px;
        height: 44px;
    }
    .account-btn {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 4px 0px 4px;
            border-color: #ffffff transparent transparent transparent;
            margin-left: 3px;
            left: 45px;
            top: 21px;
        }
    }
    .dropdown {
        display: none;
        position: absolute;
        text-align: center;
        margin-top: 5px;
        background-color: #f1f1f1;
        min-width: 130px;
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        right: 0px;
        z-index: 1;
        a {
            color: #01a2a6;
            padding: 12px 16px;
            display: block;
            &:hover {
                background-color: #ddd;
                border-radius: 10px;
            }
        }
    }
}

/* Links inside the dropdown */

.sort-list-content .dropdown {
    a {
        &:hover {
            background-color: #ddd;
            border-radius: 10px;
        }
        font-size: 1rem;
        color: #29d9c2;
        padding: 6px 8px;
        display: block;
    }
    display: none;
    position: absolute;
    background-color: white;
    min-width: 94px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,
    0,
    0,
    0.2);
    right: 0px;
    top: 30px;
    z-index: 1;
}

.page-header .menu-items .show,
.sort-list-content .sort-by .show {
    display: block;
}

/* Main content*/

/* Intro section */

.intro-section {
    background-image: url("../images/image-background.png");
    background-color: #9bddd8;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 80%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 48px;
    }
    .section-header {
        h2 {
            color: #ffffff;
            font-size: 80px;
            text-transform: uppercase;
            text-align: center;
        }
        p {
            text-align: center;
            color: #ffffff;
        }
    }
    .intro-cta {
        margin-top: 47px;
        &:hover {
            animation: tada 4.6s linear infinite;
            transform-origin: 50% 50%;
        }
        .btn-primary {
            padding: 30px 38px;
            background-color: #ffffa6;
            color: #10273d;
            font-family: "Lato - Black";
        }
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 90%;
        background-color: #ffffff;
        opacity: 0.9;
        height: 1.5rem;
    }
}

@keyframes tada {
    0% {
        transform: scale(1);
    }
    4.34783% {
        transform: scale(0.9) rotate(-8deg);
    }
    8.69565% {
        transform: scale(0.9) rotate(-8deg);
    }
    13.04348% {
        transform: scale(1.3) rotate(8deg);
    }
    17.3913% {
        transform: scale(1.3) rotate(-8deg);
    }
    21.73913% {
        transform: scale(1.3) rotate(8deg);
    }
    26.08696% {
        transform: scale(1.3) rotate(-8deg);
    }
    30.43478% {
        transform: scale(1.3) rotate(8deg);
    }
    34.78261% {
        transform: scale(1) rotate(0);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

/* white stripe on bottom */

/* Information section */

.info-section {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    img {
        margin: 7rem auto;
        transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        width: 50%;
    }
    .page-info {
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem;
        width: 50%;
        p {
            font-size: 16px;
            margin-top: 10%;
        }
    }
}

/* Gallery Section */

.gallery-section {
    background-color: #f2fefe;
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .page-info {
        h3 {
            color: #01a2a6;
            font-size: 30px;
            font-weight: 300;
            margin-top: 32px;
        }
        p {
            margin-top: 23px;
            font-weight: 700;
        }
    }
}

/* Gallery Information */

.container .info-content {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 65px auto;
}

.info-content {
    .page-info {
        width: 65%;
    }
    .btn-information {
        margin-top: 2%;
        a {
            display: flex;
            align-items: center;
            transition: all 0.5s;
        }
        p {
            font-family: Lato;
            color: #aeaeae;
            font-weight: 500;
            margin-left: 8px;
        }
        a:hover {
            transform: scale(1.1);
        }
    }
}

/* Search Gallery */

.container .search-content {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 20px auto;
}

/* Search button */

.search-content {
    .btn-search {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 234px;
        border: 1px solid #e8e8e8;
        border-radius: 50px;
        background-color: #ffffff;
        img {
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
        }
        .search {
            color: #b5b5b5;
            font-family: "Lato - Medium Italic";
            font-size: 14px;
            letter-spacing: 0.08px;
            width: 80%;
            border: 0;
            padding-left: 11px;
        }
    }
    .btn-place {
        display: flex;
        justify-content: space-between;
        .btn-gallery {
            color: #aeaeae;
            font-size: 16px;
            line-height: 35px;
            text-transform: uppercase;
            border: none;
            background: transparent;
            cursor: pointer;
            outline: 0;
        }
        .active-btn {
            color: #777777;
            font-family: "Lato - Black";
        }
        color: #777777;
        font-family: "Lato - Black";
        margin: 0 10px;
        .btn-gallery:hover {
            color: #777777;
        }
    }
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* Gallery */

/* Main picture */

.main-graphic {
    position: relative;
}

.container .major-gallery {
    width: 100%;
    margin-bottom: 3rem;
}

/* Button - see more */

.btn-shadow {
    text-align: center;
    position: relative;
    width: 100%;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 49%;
        padding: 0 15px;
    }
    p {
        color: #f6f6f6;
        font-family: Lato;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    >img {
        width: 100%;
        height: max-content;
    }
}

.see-more-btn {
    position: relative;
    background-image: -webkit-linear-gradient(top right, rgba(72, 76, 97, 0) 70%, rgba(72, 76, 97, 0.8) 90%);
    background-image: linear-gradient(to bottom right, rgba(72, 76, 97, 0) 70%, rgba(72, 76, 97, 0.8) 90%);
    &:after {
        position: absolute;
        content: '';
        top: 0;
        width: 100%;
        height: 100%;
        background-image: -webkit-linear-gradient(top right, rgba(72, 76, 97, 0) 50%, rgba(72, 76, 97, 0.8) 90%);
        background-image: linear-gradient(to bottom right, rgba(72, 76, 97, 0) 50%, rgba(72, 76, 97, 0.8) 90%);
        transition: opacity 0.5s ease-out;
        opacity: 0;
    }
    &:hover::after {
        opacity: 1;
    }
}

/* Gallery - picture description & layout */

.layout-gallery {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0.9;
}

.major-gallery .page-info {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 2rem;
}

/* Additional Pictures - bottom gallery */

.minor-gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4rem;
    > {
        .main-graphic,
        .btn-shadow {
            width: 49.5%;
        }
    }
    .btn-shadow a {
        right: 0rem;
    }
    .page-info {
        position: absolute;
        top: 0;
        right: 40%;
        padding: 1rem;
        height: 100%;
        overflow-y: hidden;
    }
}

.layout-gallery-small {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: max-content;
    opacity: 0.9;
}

.minor-gallery .btn-shadow .palm-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
}

/* Second Gallery - Recomended places */

.gallery-constainer {
    max-width: 900px;
    /* width: 80%; */
    margin: auto;
    border: 3px solid #f2fefe;
    background: #f2fefe;
}

.main-img img {
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
}

.imgs {
    img {
        width: 100%;
        cursor: pointer;
        position: relative;
        display: block;
    }
    display: grid;
    grid-template-columns: repeat(3,
    1fr);
    grid-gap: 5px;
    margin-top: 25px;
}

.gallery-constainer figure {
    figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before,
        &::after {
            pointer-events: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        >a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 0;
            opacity: 0;
        }
    }
    p {
        letter-spacing: 1px;
        text-align: left;
    }
    &.effect-apollo {
        background: #3498db;
        position: relative;
        img {
            opacity: 0.95;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale3d(1.05, 1.05, 1);
            transform: scale3d(1.05, 1.05, 1);
        }
        h2 {
            position: absolute;
            left: 5px;
            bottom: 205px;
            padding: 0 1em;
            color: #29d9c2;
            max-width: 150px;
            opacity: 0;
            -webkit-transition: opacity 0.35s;
            transition: opacity 0.35s;
            text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        }
        p {
            position: absolute;
            left: 0;
            bottom: -30px;
            margin: 3em;
            padding: 0 1em;
            color: #ffffa6;
            max-width: 250px;
            border-left: 4px solid #ffffa6;
            text-align: left;
            opacity: 0;
            -webkit-transition: opacity 0.35s;
            transition: opacity 0.35s;
            text-shadow: 2px 2px black;
        }
        &:hover {
            img {
                opacity: 0.6;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
            h2,
            p {
                opacity: 1;
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
            }
        }
    }
}

/* Pagitation */

.pagination {
    margin-bottom: 4rem;
    a {
        color: #acacac;
        font-family: "Chunk Five";
        font-size: 18px;
        font-weight: 400;
        line-height: 51.82px;
        padding: 0px 8px;
        &.active {
            color: #01a2a6;
            font-size: 24px;
        }
        &:hover:not(.active) {
            color: #01a2a6;
            font-size: 24px;
            -webkit-transition-duration: 0.7s;
            /* Safari */
            transition-duration: 0.7s;
        }
    }
}

/* Planning Section */

/* Header */

.planner-section .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 4rem;
    .page-info {
        margin-top: 3rem;
        margin-bottom: 7rem;
        text-align: center;
    }
}

.container .planner-section-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Ittinery Box */

.planning-menu {
    display: flex;
    flex-direction: column;
}

.ittinery-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffa6;
    border-radius: 5px;
    .ittinery-content {
        margin-top: 26px;
        width: 90%;
    }
    .ittinery-title {
        background-image: url("../images/ittinery-background.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 5rem;
        width: 100%;
    }
}

/* Ittinery box title */

.ittinery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-title {
        color: #ffffff;
        font-family: "Lato - Black";
        font-size: 18px;
        background: transparent;
        border: none;
        text-align: center;
    }
}

input[type="text"].btn-title::-webkit-input-placeholder {
    text-align: center;
    color: #ffffff;
}

/* Ittinery timetable */

.ittinery-content .ittinery-timetable {
    display: flex;
    justify-content: space-between;
    p {
        color: #29d9c2;
        font-family: "Lato - Black";
        font-size: 16px;
    }
    .input-calendar {
        display: flex;
        align-items: center;
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 4px 0px 4px;
            border-color: #29d9c2 transparent transparent transparent;
            margin-left: 5px;
        }
    }
}

/* Destination status */

.destination-status {
    display: flex;
    align-items: center;
    height: 70px;
    border: 1px solid #d5d57d;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 18px;
    .destination-status-image {
        width: 15%;
        img {
            transform: scale(0.5, 0.5);
            -ms-transform: scale(0.5, 0.5);
            -webkit-transform: scale(0.5, 0.5);
        }
    }
    .destination-status-information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        .name {
            color: #626262;
            font-size: 24px;
        }
        .hours {
            color: #a8a8a8;
            font-size: 18px;
        }
    }
}

.btn-add-destination {
    width: 50%;
    margin-left: 47.5%;
    margin-bottom: 15px;
    min-height: 2rem;
    background-color: #f4e79d;
    opacity: 0.9;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    align-items: center;
}

.todo-add-btn {
    color: #d8cb7d;
    background-color: #f4e79d;
    font-family: "Lato - Heavy";
    font-size: 16px;
    cursor: pointer;
    border: none;
    position: relative;
    outline: 0;
    &::after {
        content: '';
        position: absolute;
        width: 23px;
        height: 23px;
        bottom: 0px;
        right: -25px;
        background: url("../images/add-icon.png") no-repeat;
    }
}

.added-destination {
    width: 95%;
    min-height: 51px;
    background-color: #f5e99e;
    margin: 0 auto;
    border-radius: 0px 0px 0px 5px;
    overflow: hidden;
    p {
        color: #aea25c;
        font-size: 16px;
        font-weight: 700;
        padding-left: 1rem;
    }
}

.added-destination-info {
    color: #aea25c;
    font-size: 16px;
    font-weight: 700;
    padding-left: 1rem;
}

.top-element-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d8cb7d;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.todo-element-delete {
    border: 0;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    padding-right: 10px;
    transition: 0.4s all;
    svg {
        pointer-events: none;
        /* delete default click event on fontawesome */
    }
}

.drag-destination {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background-color: #fbf6a3;
    border: 3px dashed #e8e897;
    border-radius: 5px;
    margin: 32px 0;
    &::before {
        content: "Drag Destination Here";
        color: #d8cb7d;
        font-family: "Lato - Heavy";
        font-size: 16px;
    }
    &.withItem::before {
        content: "";
    }
    &.ui-droppable-active {
        transform: scaleY(1.2);
    }
}

.destination-dropped {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    border: 1px solid #d5d57d;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 18px;
    box-shadow: 0 0 black;
    p {
        color: #626262;
        font-family: Lato;
        font-size: 24px;
    }
}

/* Planning Buttons */

.btn-planning {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    a {
        padding: 30px 38px;
        opacity: 0.9;
        color: #ffffff;
        font-family: "Lato - Heavy";
        margin-top: 17px;
        margin-left: 25px;
    }
}

.btn-save-as-pdf {
    display: flex;
    align-items: center;
    background-color: #bdf271;
}

.btn-print {
    display: flex;
    align-items: center;
    background-color: #28d7c1;
}

.btn-save-as-pdf img,
.btn-print img {
    margin-right: 12px;
}

.btn-save-as-pdf:hover,
.btn-print:hover,
.btn-message:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* Destination List */

.destination-list .destination-list-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 400px;
    .title {
        color: #29d9c2;
        font-family: "Lato - Black";
        font-size: 18px;
        margin: 28px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::after {
            content: '';
            display: block;
            background-color: #29d9c2;
            height: 1px;
            width: 50%;
            margin-top: 1rem;
        }
    }
}

/* sort & search */

.destination-list-content .sort-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    p {
        color: #29d9c2;
        font-family: "Lato - Heavy";
        margin-right: 6px;
    }
    .sort-by {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .destination-name {
        color: #bcbcbc;
        font-family: Lato;
        font-weight: 500;
        margin-right: 3px;
    }
}

.sort-list {
    .sort-by:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0px 4px;
        border-color: #bcbcbc transparent transparent transparent;
        margin-left: 5px;
    }
    .sort-list-content {
        display: flex;
        flex-direction: row;
        position: relative;
    }
}

label.search-destination {
    background-image: url("../images/magnifier-icon.png");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: relative;
}

input#search {
    position: absolute;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid #e8e8e8;
    height: 34px;
    margin-right: -2.25rem;
    transition: .25s;
    outline: 0;
    opacity: 0;
    width: 0;
    right: 60px;
    top: -10px;
    &:focus {
        opacity: 1;
        width: 8rem;
    }
}

/* destination choose */

#destination-choose-list {
    height: 440px;
}

.destination-list-content .destination-choose {
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 17px;
    cursor: move;
    &:hover {
        animation: vertical 3.44s ease infinite;
        transform-origin: 50% 50%;
    }
}

@keyframes vertical {
    0% {
        transform: translate(0, -3px);
    }
    2.32558% {
        transform: translate(0, 3px);
    }
    4.65116% {
        transform: translate(0, -3px);
    }
    6.97674% {
        transform: translate(0, 3px);
    }
    9.30233% {
        transform: translate(0, -3px);
    }
    11.62791% {
        transform: translate(0, 3px);
    }
    12.7907% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.drag-destination .destination-choose {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    height: 70px;
    border: none;
    background-color: #ffffff;
    cursor: move;
    .destination-choose-info h4 {
        color: #626262;
        font-size: 24px;
        text-align: left;
        margin-left: -20px;
    }
    .destination-choose-details {
        width: 15%;
    }
}

.destination-choose {
    .destination-choose-info {
        display: flex;
        flex-direction: column;
        min-width: 145px;
        margin: 12px 21px;
        h4 {
            color: #626262;
            font-size: 24px;
            text-align: left;
        }
        p {
            color: #b9b9b9;
            font-size: 14px;
            text-align: left;
            margin-top: -10px;
            span {
                color: #23c6b6;
            }
        }
    }
    .destination-choose-details {
        position: relative;
        a {
            max-height: 70px;
            display: flex;
            flex-direction: column;
        }
        img {
            transform: scale(0.5, 0.5);
            -ms-transform: scale(0.5, 0.5);
            -webkit-transform: scale(0.5, 0.5);
        }
        p {
            color: #23c6b6;
            font-family: "Lato - Semibold";
            font-size: 14px;
            margin-top: -15px;
        }
        img.city {
            transform: scale(0.5, 0.5);
            -ms-transform: scale(0.5, 0.5);
            -webkit-transform: scale(0.5, 0.5);
            position: absolute;
            top: -18px;
            right: 9px;
            +p {
                color: #23c6b6;
                font-family: "Lato - Semibold";
                font-size: 14px;
                margin-top: 40px;
                width: 107px;
            }
        }
    }
}

/* Contact Section */

.contact-section {
    background-image: url("../images/contact-background.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &::before {
        background-color: #01a2a6;
        opacity: 0.8;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 40rem;
        position: relative;
        h2 {
            color: #ffffff;
            font-size: 67px;
            margin: 5rem auto;
        }
        .contact-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }
}

.container .contact-content .separator {
    margin: auto 50px;
    p {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 125px;
    }
}

/* Contact Form */

.contact-form form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    max-width: 469px;
    .form-middle-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #b9b9b9;
        font-family: "Lato - Medium Italic";
        font-size: 14px;
    }
}

input#search::-webkit-input-placeholder {
    color: #b9b9b9;
    font-family: "Lato - Medium Italic";
    font-size: 14px;
}

.contact-form {
    form input {
        margin-bottom: 21px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
        border: 1px solid #c7c7c7;
        border-radius: 5px;
        background-color: #ffffff;
        padding-left: 23px;
    }
    .field {
        width: 100%;
    }
}

.form-middle-content .field {
    width: 48%;
}

.contact-form form {
    .btn-email,
    .btn-info {
        width: 100%;
        min-height: 55px;
    }
    textarea {
        width: 100%;
        min-height: 96px;
        border-radius: 5px;
        resize: none;
        padding: 23px;
    }
    .btn-message {
        background-color: #c3f37f;
        opacity: 0.9;
        color: #ffffff;
        font-family: "Lato - Heavy";
        font-size: 15px;
        text-transform: uppercase;
        padding: 27px 25px;
        min-height: 67px;
        margin-top: 27px;
        border-radius: 50px;
    }
}

/* Contact Information */

.contact-content .contact-info {
    h3 {
        color: #ffffff;
        font-size: 43px;
        letter-spacing: 0.22px;
        margin-top: 6px;
        margin-bottom: 64px;
    }
    .contact-us {
        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: max-content;
            p {
                color: #ffffff;
                font-size: 16px;
                padding-left: 8px;
            }
        }
        span {
            color: #fff772;
            font-size: 12px;
            font-style: italic;
            text-transform: uppercase;
            padding-left: 22px;
            margin-top: -18px;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/* Subscribe Section */

.subscribe-section {
    background-color: #bdf271;
    .container {
        min-height: 217px;
        background-image: url("../images/subscribe-background.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 55% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .subscribe-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 80%;
            .page-info {
                margin-right: 20px;
            }
        }
        h2 {
            color: #ffffff;
            font-size: 67px;
        }
        p {
            color: #ffffff;
            font-size: 16px;
        }
        .btn-subscribe {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 471px;
            min-height: 72px;
            border: 1px solid #7ca83f;
            border-radius: 5px;
            background-color: #ffffff;
            .subscribe-email {
                min-height: 72px;
                width: 80%;
                border: none;
                padding-left: 1rem;
            }
            input::-webkit-input-placeholder {
                color: #c7c7c7;
                font-family: "Lato - Medium Italic";
                font-size: 16px;
                font-weight: 400;
                line-height: 35px;
            }
        }
        .btn-subscribe-arrow {
            background-image: url("../images/arrow-subscribe.png");
            background-repeat: no-repeat;
            background-position: center;
            background-color: #01a2a6;
            min-height: 72px;
            width: 20%;
            border: none;
            cursor: pointer;
        }
    }
}

/* Footer */

.page-footer {
    background-color: #2f2933;
    .container {
        min-height: 274px;
        background-image: url("../images/mountains-footer.png");
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        .footer-content {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
    }
}

.footer-content {
    .menu-items li {
        margin: 19px 5px;
        display: inline-block;
        a {
            color: #5d5c5c;
            display: inline-block;
        }
    }
    .first-nav li {
        &:nth-child(2)::before,
        &:nth-child(3)::before {
            content: "•";
            margin: 0px 5px;
        }
    }
    .menu-items {
        .menu-icon {
            margin-top: 19px;
            margin-left: 11px;
        }
        .facebook-icon {
            background-image: url("../images/facebook-icon.png");
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
        .twitter-icon {
            background-image: url("../images/twitter-icon.png");
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
        .instagram-icon {
            background-image: url("../images/instagram-icon.png");
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
    }
}

.page-footer .container>p {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #aeaeae;
    font-size: 12px;
}

.footer-content .menu-items li:hover,
.facebook-icon:hover,
.twitter-icon:hover,
.instagram-icon:hover {
    animation: float 5s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

/* Datepicker/calendar */

/* wrapper dla inputa kalendarza */

.input-calendar-cnt {
    position: relative;
    display: inline-block;
}

/* input kalendarza */

.input-calendar {
    cursor: pointer;
}

/* kalendarz */

.calendar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background: #eee39e;
    min-height: 300px;
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 1px rgba(255, 0, 0, 0.09);
    font-family: "Lato - Semibold";
    display: none;
    z-index: 1;
    &.calendar-show {
        display: block;
    }
}

/* przyciski prev-next */

.calendar-prev-next {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.calendar {
    .input-prev,
    .input-next {
        position: relative;
        z-index: 1;
        cursor: pointer;
        width: 30px;
        font-family: "Lato - Black";
        background-color: transparent;
        border: 0;
        color: #7e722f;
    }
    .input-prev:hover,
    .input-next:hover {
        background: #bda938a1;
    }
    .date-name {
        font-size: 12px;
        font-family: "Lato - Black";
        color: #aea25c;
        padding: 0 40px;
        text-align: center;
        line-height: 30px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
    .calendar-header {
        height: 30px;
        position: relative;
    }
    .calendar-table-cnt {
        position: relative;
        padding-top: 10px;
    }
    .calendar-table {
        font-size: 12px;
        color: #aea25c;
        width: 100%;
        td {
            text-align: center;
            width: 14.2857%;
        }
        th {
            font-family: "Lato - Semibold";
            font-weight: normal;
            padding-bottom: 10px;
            font-size: 11px;
            color: #aea25c;
        }
        td {
            &.day {
                background-color: #ffffa6;
                height: 40px;
                font-size: 11px;
                font-family: "Lato - Semibold";
                font-weight: bold;
                &:hover {
                    background-color: #7cddd0;
                    cursor: pointer;
                }
            }
            &.current-day {
                background-color: #29d9c2;
                color: #fff;
                &:hover {
                    background-color: #29d9c2;
                }
            }
        }
    }
}

/* Tips for users */

.form {
    .error {
        background: rgb(250, 246, 185);
        position: relative;
    }
    .field,
    .field_textarea {
        position: relative;
    }
    .field>.field-error {
        position: absolute;
        font-size: 1rem;
        color: rgb(255, 241, 44);
        bottom: -7%;
        left: 1%;
    }
    .field_textarea {
        .field-error {
            position: absolute;
            font-size: 1rem;
            color: rgb(255, 241, 44);
            bottom: -7%;
            left: 1%;
            top: 95%;
            left: 1%;
        }
        width: 100%;
    }
}

/* field for validation */

.btn-subscribe {
    .field {
        width: 100%;
        display: flex;
    }
    .error {
        background: rgb(255, 237, 237);
        position: relative;
    }
    .field .field-error {
        position: absolute;
        color: rgb(219, 8, 62);
        top: 96%;
    }
}

/* add loading animation to btn with this class */

.submit-busy {
    position: relative;
    /* pointer-events specifies under what circumstances (if any) a particular graphic element can become the target of mouse events. */
    pointer-events: none;
    opacity: 0.5;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-right-color: rgba(0, 0, 0, 0.7);
        transform: translate(-50%, -50%) rotate(0deg);
        animation: rotateSingleLoading 0.3s infinite linear;
    }
}

/* Loading animation */

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Media Queries*/

@media (max-width: 1024px) {
    /* major-gallery */
    .minor-gallery .page-info {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        overflow-y: scroll;
    }
    .gallery-section .page-info p {
        margin-top: 1rem;
        font-size: 1rem;
    }
    /* planner-section */
    .planner-section .container .page-info {
        margin-bottom: 4rem;
    }
    .destination-list-content .sort-list {
        margin-top: 0;
        /* flex-direction: column; */
    }
    .destination-list .destination-list-content {
        width: 300px;
    }
    .destination-choose .destination-choose-info h4 {
        font-size: 1.2rem;
    }
    /* contact-section */
    .contact-section {
        background-size: cover;
        .container {
            h2 {
                margin: 3rem auto;
            }
            .contact-content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 3rem;
            }
        }
    }
    .container .contact-content .separator {
        margin: 50px auto;
        p {
            margin-bottom: 0px;
        }
    }
    /* subscribe-section */
    .subscribe-section .container .subscribe-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 3rem auto;
    }
}

@media (max-width: 900px) {
    /* page-header */
    h2 {
        font-size: 45px;
    }
    .intro-section .section-header {
        h2 {
            font-size: 45px;
        }
        p {
            font-size: 15px;
        }
    }
    /*major-gallery */
    .btn-shadow>img {
        height: auto;
    }
    .major-gallery .page-info {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        >img {
            transform: scale(0.8, 0.7);
            -ms-transform: scale(0.8, 0.7);
            -webkit-transform: scale(0.8, 0.7);
        }
    }
    .minor-gallery .page-info>img {
        transform: scale(0.8, 0.7);
        -ms-transform: scale(0.8, 0.7);
        -webkit-transform: scale(0.8, 0.7);
    }
    .gallery-section .page-info p {
        margin-top: 0;
        font-size: 0.8rem;
    }
    .btn-shadow {
        .mountain-pic,
        .canoe-pic {
            height: max-content;
        }
    }
    .minor-gallery .page-info {
        padding: 0.9rem;
        overflow-y: hidden;
        h3 {
            margin-top: 12px;
        }
    }
    /* planning-section */
    .btn-add-destination {
        width: 50%;
        margin-left: 47.5%;
    }
    .destination-list .destination-list-content {
        width: 250px;
        margin-left: 1rem;
    }
    .destination-choose .destination-choose-info {
        p {
            font-size: 12px;
        }
        margin: 6px 12px;
    }
    .destination-list .destination-choose-details {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    /* general styles */
    h2 {
        font-size: 50px;
    }
    p {
        font-size: 0.9rem;
    }
    /* section-header */
    .intro-section .section-header h2 {
        font-size: 3rem;
    }
    .page-header .container {
        height: 5rem;
        background-color: #9bddd8;
        z-index: 2;
        padding-top: 0px;
        position: fixed;
    }
    .menu-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .page-header .menu-items li {
        margin: 15px 10px;
        &:last-child {
            order: 1;
        }
    }
    /* intro-section */
    .intro-section {
        min-height: 60%;
    }
    /*minor-gallery */
    .main-graphic {
        width: 100%;
    }
    .container {
        .info-content,
        .search-content {
            flex-wrap: wrap;
            margin: 20px auto;
        }
        .major-gallery {
            margin: 0 auto;
            width: 90%;
        }
    }
    .major-gallery .page-info {
        height: 100%;
        overflow-y: scroll;
    }
    .minor-gallery {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        > {
            .main-graphic,
            .btn-shadow {
                width: 100%;
            }
        }
        .page-info {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            >img {
                transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                -webkit-transform: scale(1, 1);
            }
        }
    }
    .gallery-section .page-info h3 {
        margin-left: 0;
    }
    .btn-shadow {
        margin-bottom: 3rem;
    }
    /* planner -section */
    .container .planner-section-content {
        flex-wrap: wrap;
    }
    .destination-list .destination-list-content {
        width: 350px;
    }
    /* subscribe-section */
    .subscribe-section .container h2 {
        font-size: 61px;
    }
    /* footer */
    .page-footer .container .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-wrap: wrap;
    }
    /* Hamburger menu styles */
    .nav {
        display: none;
        &.expanded {
            display: flex;
            justify-content: center;
            -webkit-transition: right 0.5s ease;
            -moz-transition: right 0.5s ease;
            -ms-transition: right 0.5s ease;
            -o-transition: right 0.5s ease;
            transition: right 0.5s ease;
            background: #9bddd8;
            cursor: pointer;
            height: 35vh;
            width: 100%;
            right: 0;
            position: fixed;
            top: 0;
            z-index: 1;
        }
        ul {
            position: absolute;
            top: 35%;
        }
    }
    .nav-toggle {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: pointer;
        height: 1rem;
        width: 3rem;
        top: 2rem;
        right: 3rem;
        z-index: 2;
        position: absolute;
        &:hover {
            opacity: 0.8;
        }
        .nav-toggle-bar {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background: white;
            content: '';
            height: 0.4rem;
            width: 100%;
            border-radius: 5px;
            &::after,
            &::before {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                background: white;
                content: '';
                height: 0.4rem;
                width: 100%;
                border-radius: 5px;
            }
            margin-top: 0;
            &::after {
                margin-top: 0.8rem;
            }
            &::before {
                margin-top: -0.8rem;
            }
        }
        &.expanded .nav-toggle-bar {
            background: transparent;
            &::after,
            &::before {
                background: white;
                margin-top: 0;
            }
            &::after {
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &::before {
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}

@media (max-width: 480px) {
    /* general styles */
    p {
        font-size: 0.8rem;
    }
    /* page-header */
    .page-header {
        min-height: 5rem;
    }
    .menu-items {
        display: flex;
        flex-direction: column;
    }
    .nav ul {
        top: 15%;
    }
    .page-header .menu-items li:last-child {
        order: -1;
    }
    /* hamburger menu */
    .nav.expanded {
        height: 100vh;
    }
    /* intro section */
    .intro-section {
        min-height: 45%;
        .container {
            padding-top: 1rem;
        }
        .section-header {
            width: 90%;
            h2 {
                font-size: 2rem;
            }
        }
        .intro-cta {
            margin-top: 1rem;
            .btn-primary {
                padding: 1rem 1rem;
                font-size: 0.7rem;
            }
        }
    }
    /* info section */
    .info-section {
        .container {
            display: flex;
            flex-direction: column;
            width: 80%;
        }
        img {
            margin: 1rem auto;
            width: 100%;
        }
        .page-info {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 1rem;
            width: 100%;
            text-align: center;
            h2 {
                font-size: 2rem;
            }
        }
    }
    .info-content .page-info h2,
    .planner-section .page-info h2 {
        font-size: 2rem;
    }
    .container {
        .info-content,
        .search-content {
            justify-content: center;
            text-align: center;
        }
    }
    /* minor-gallery */
    .search-content .btn-place .btn-gallery {
        font-size: 11px;
    }
    .layout-gallery,
    .layout-gallery-small {
        display: none;
    }
    .btn-shadow {
        margin-bottom: 0;
        a {
            right: 10;
        }
    }
    .major-gallery .page-info,
    .minor-gallery .page-info {
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        background-color: white;
    }
    .btn-shadow {
        .mountain-pic,
        .canoe-pic {
            height: auto;
        }
    }
    .pagination {
        margin-top: 2rem;
    }
    .gallery-constainer figure {
        &.effect-apollo {
            h2 {
                font-size: 27px;
                bottom: 110px;
            }
        }
    }
    /* planner-section */
    .calendar {
        width: 250px;
    }
    .planner-section .container .page-info {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .planning-menu {
        width: 100%;
        .ittinery-box {
            min-height: 660px;
        }
    }
    .destination-status .destination-status-information {
        .name,
        .hours {
            font-size: 1rem;
        }
    }
    .btn-add-destination {
        width: 70%;
        margin-left: 25%;
        a {
            justify-content: flex-end;
            margin-right: 0.5rem;
        }
        p {
            font-size: 0.7rem;
        }
    }
    .added-destination {
        width: 90%;
        p {
            font-size: 0.7rem;
        }
    }
    .btn-planning a {
        padding: 1rem 1rem;
        font-size: 0.54rem;
        width: 40%;
        height: 5%;
    }
    .destination-list {
        width: 100%;
    }
    .destination-list-content .sort-list {
        margin: auto 1rem;
    }
    .destination-list .destination-list-content {
        width: 90%;
    }
    .destination-list-content .destination-choose {
        width: 100%;
    }
    .destination-choose .destination-choose-info {
        h4 {
            font-size: 1rem;
        }
        p {
            font-size: 0.7rem;
        }
    }
    /* contact-section */
    .contact-section .container {
        padding-bottom: 1rem;
        h2 {
            font-size: 3rem;
            margin: 3rem auto;
        }
    }
    .contact-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        form {
            max-width: 90%;
            .btn-email,
            .btn-info {
                min-height: 35px;
            }
        }
    }
    .contact-button {
        width: 90%;
        .btn-message {
            font-size: 0.9rem;
            padding: 1rem 2rem;
        }
    }
    .container .contact-content .separator {
        margin: 2rem auto;
    }
    .contact-content .contact-info {
        h3 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .contact-us a p {
            font-size: 12px;
        }
    }
    /* subscribe-section */
    .subscribe-section .container {
        padding: 2rem 0;
        h2 {
            font-size: 2.2rem;
            text-align: center;
        }
        p {
            font-size: 1rem;
            text-align: center;
            margin: 0.5rem auto;
        }
        .btn-subscribe {
            width: 100%;
            input::-webkit-input-placeholder {
                font-size: 0.8rem;
            }
        }
    }
    /* footer */
    .footer-content .menu-items {
        flex-direction: row;
        font-size: 16px;
    }
    .form {
        .field>.field-error,
        .field_textarea .field-error {
            font-size: 0.7rem;
        }
    }
}

@media screen and (orientation: landscape) {
    .intro-section {
        min-height: 90%;
    }
}